<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Administrador</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- Header -->
    <div th:replace="fragmentsAdmi :: header"></div>

    <!-- Body principal -->
    <div class="row mx-0 justify-content-center gap-1">
        <div class="col-10 px-0 mt-3"><h3>Dashboard</h3></div>
        <div class="col-10 col-md-5 my-2 p-3 bg-secundario rounded-1">
            Ventas Hoy
        </div>
        <div class="col-10 col-md-5 my-2 p-3 bg-secundario rounded-1">
            Stock de insumos
        </div>
        <div class="col-10 my-2 p-3 bg-secundario rounded-1">
            Productos mas vendidos
        </div>
    </div>

    <!-- Menú Desplegable -->
    <div th:replace="fragmentsAdmi :: menuLateral"></div>

</body>

</html>
