<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${proveedor.id == null} ? 'Agregar Proveedor - Green Tee' : 'Editar Proveedor - Green Tee'"></title>

    <!-- CSS propio -->
    <link rel="stylesheet" th:href="@{/css/estilos.css}">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
    <style>
        /* Color principal personalizado: #2d4d1e */
        .bg-green-dark {
            background-color: #2d4d1e !important;
        }

        .btn-green-dark {
            background-color: #2d4d1e;
            border-color: #2d4d1e;
            color: white;
        }

        .btn-green-dark:hover {
            background-color: #4a753a;
            /* Un poco más claro al pasar el ratón */
            border-color: #4a753a;
        }

        .btn-green-dark:focus {
            box-shadow: 0 0 0 0.25rem rgba(45, 77, 30, 0.5);
            /* Sombra para el focus */
        }
    </style>
</head>

<body>

    <!-- Header -->
    <div th:replace="~{fragmentsAdmi :: header}"></div>

    <!-- Body -->
    <div class="row justify-content-center mx-0 mt-3">

        <!-- Título -->
        <div class="col-10 px-0 py-2">
            <h3 class="fw-bold text-dark mb-2"
                th:text="${proveedor.id == null} ? 'Agregar Proveedor' : 'Editar Proveedor'"></h3>
            <hr class="border-secondary mt-0 mb-2">
        </div>

        <!-- Formulario -->
        <div class="col-10 bg-secundario rounded-2 shadow-sm p-4 mb-3">
            <form th:action="@{${proveedor.id == null} ? '/admin/proveedores/agregar' : '/admin/proveedores/editar'}"
                method="post">

                <input type="hidden" name="id" th:value="${proveedor.id}" />

                <!-- Nombre -->
                <div class="mb-3">
                    <label class="form-label fw-bold text-dark">Nombre</label>
                    <input type="text" name="nombre" th:value="${proveedor.nombre}" class="form-control form-control-sm"
                        required>
                </div>

                <!-- Categoría -->
                <div class="mb-3">
                    <label class="form-label fw-bold text-dark">Categoría</label>
                    <select name="categoria.id" class="form-select form-select-sm" required>
                        <option th:each="c : ${categorias}" th:value="${c.id}" th:text="${c.nombre}"
                            th:selected="${proveedor.categoria != null and proveedor.categoria.id == c.id}">
                        </option>
                    </select>
                </div>

                <!-- Teléfono -->
                <div class="mb-3">
                    <label class="form-label fw-bold text-dark">Teléfono</label>
                    <input type="text" name="telefono" th:value="${proveedor.telefono}"
                        class="form-control form-control-sm" maxlength="9" pattern="\d{9}" placeholder="Ej: 987654321"
                        required>
                </div>

                <!-- RUC -->
                <div class="mb-3">
                    <label class="form-label fw-bold text-dark">RUC</label>
                    <input type="text" name="ruc" th:value="${proveedor.ruc}" class="form-control form-control-sm"
                        pattern="^20\d{9}$" maxlength="11" inputmode="numeric" placeholder="Ej: 20481234567"
                        title="El RUC debe comenzar con 20 y tener 11 dígitos numéricos" required>
                </div>

                <!-- Dirección -->
                <div class="mb-3">
                    <label class="form-label fw-bold text-dark">Dirección</label>
                    <input type="text" name="direccion" th:value="${proveedor.direccion}"
                        class="form-control form-control-sm" required>
                </div>

                <!-- Botones -->
                <div class="d-flex gap-2 mt-4">
                    <button type="submit" class="btn btn-sm btn-success py-2">
                        <i class="fa-solid fa-save"></i> Guardar
                    </button>
                    <a th:href="@{/admin/proveedores}" class="btn btn-sm btn-secondary py-2">
                        <i class="fa-solid fa-xmark"></i> Cancelar
                    </a>
                </div>
            </form>
        </div>
    </div>

    <!--Menu Deslizable-->
    <div th:replace="~{fragmentsAdmi :: menuLateral}"></div>
    <div th:replace="~{mensajeModal :: modal-mensaje}"></div>


    <div class="modal fade" id="passwordChangeModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-4 shadow-xl border-0">

                <div class="modal-header rounded-top-4 bg-green-dark text-white p-4">
                    <h5 class="modal-title fw-bold fs-5">
                        <i class="bi bi-key me-3"></i>
                        Actualizar Contraseña
                    </h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Cerrar"></button>
                </div>

                <div class="modal-body p-4">
                    <form th:action="@{/user/cambiarPassword}" method="post">

                        <div class="mb-3">
                            <label for="contrasenaActual" class="form-label text-muted fw-semibold">Contraseña
                                Actual:</label>
                            <div class="input-group">
                                <input type="password" id="contrasenaActual" name="contrasenaActual"
                                    class="form-control" required placeholder="Ingresa tu contraseña actual">
                                <button type="button" class="btn btn-outline-secondary"
                                    onclick="togglePassword('contrasenaActual', this)">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="nuevaContrasena" class="form-label text-muted fw-semibold">Nueva
                                Contraseña:</label>
                            <div class="input-group">
                                <input type="password" id="nuevaContrasena" name="nuevaContrasena" class="form-control"
                                    required minlength="8" placeholder="Mínimo 8 caracteres">
                                <button type="button" class="btn btn-outline-secondary"
                                    onclick="togglePassword('nuevaContrasena', this)">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </div>
                        </div>

                        <div class="mb-4">
                            <label for="confirmarContrasena" class="form-label text-muted fw-semibold">Confirmar Nueva
                                Contraseña:</label>
                            <div class="input-group">
                                <input type="password" id="confirmarContrasena" name="confirmarContrasena"
                                    class="form-control" required minlength="8"
                                    placeholder="Repite la nueva contraseña">
                                <button type="button" class="btn btn-outline-secondary"
                                    onclick="togglePassword('confirmarContrasena', this)">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </div>
                        </div>


                        <button type="submit" class="btn btn-green-dark w-100 fw-bold mt-3 py-2">
                            <i class="bi bi-shield-lock me-2"></i>
                            Cambiar Contraseña
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Script para togglear el ojo -->
    <script>
        function togglePassword(inputId, icon) {
            const input = document.getElementById(inputId);
            if (input.type === "password") {
                input.type = "text";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                input.type = "password";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        }
    </script>

</body>

</html>