<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movimientos Productos - Green Tea</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS propio -->
    <link rel="stylesheet" th:href="@{/css/estilos.css}">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />

</head>

<body>
    <!--Header-->
    <div th:replace="~{fragmentsAdmi :: header}"></div>

    <div class="row justify-content-center mx-0 mt-3">

        <!-- Título -->
        <div class="col-10 px-0 py-2">
            <h3 class="fw-bold text-dark mb-2">Movimientos de Productos</h3>
            <hr class="border-secondary mt-0 mb-2">
        </div>

        <!-- Filtro solo por fecha -->
        <div class="col-10 bg-secundario rounded-2 shadow-sm p-3 mb-3">
            <h5 class="text-dark mb-3">Filtrar por Fecha</h5>
            <form th:action="@{/admin/movimientos/movimientos-productos}" method="get"
                class="row g-2 d-flex align-items-center">
                <div class="col-md-3">
                    <input type="date" name="fecha" class="form-control py-2">
                </div>
                <div class="col-md-2 d-grid">
                    <button type="submit" class="btn btn-success-custom w-100 py-2">
                        <i class="fa-solid fa-filter"></i> Filtrar
                    </button>
                </div>
                <div class="col-md-2 d-grid">
                    <a th:href="@{/admin/movimientos/movimientos-productos}" class="btn btn-secondary w-100 py-2">
                        <i class="fa-solid fa-rotate-left"></i> Resetear
                    </a>
                </div>
            </form>
        </div>


        <!-- Tabla Kardex PEPS para Productos -->
        <div class="col-10 bg-secundario rounded-2 shadow-sm p-3">
            <h5 class="text-dark mb-3">Kardex Histórico de Productos</h5>
            <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                <table class="table table-hover align-middle table-borderless table-sm">
                    <thead style="position: sticky; top: 0; background-color: rgba(0,0,0,0.6); z-index: 10;">
                        <!-- Encabezados principales -->
                        <tr class="text-white text-center">
                            <th rowspan="2">ID Produccion</th>
                            <th rowspan="2">Producto</th>
                            <th rowspan="2">Empleado</th>
                            <th rowspan="2">Fecha</th>
                            <th colspan="2">ENTRADA</th>
                            <th colspan="2">SALIDA</th>
                            <th colspan="2">SALDO</th>
                        </tr>
                        <!-- Sub-encabezados -->
                        <tr class="text-white text-center">
                            <th>Costo Unitario</th>
                            <th>Cantidad</th>
                            <th>Costo Unitario</th>
                            <th>Cantidad</th>
                            <th>Cantidad</th>
                            <th>Valor Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="mov : ${movimientos}" th:classappend="
            ${mov.tipoMovimientoId.id == 1} ? 'table-success' : 
            (${mov.tipoMovimientoId.id == 2} ? 'table-danger' : 
            (${mov.tipoMovimientoId.id == 4} ? 'table-warning' : 'table-light'))
        ">

                            <!-- Produccion -->
                            <td th:text="${mov.produccion != null ? mov.produccion.produccionId : '-'}"></td>
                            <!-- Producto -->
                            <td th:text="${mov.producto.nombre}"></td>

                            <!-- Empleado -->
                            <td th:text="${mov.empleado.nombre}"></td>

                            <!-- Fecha -->
                            <td th:text="${#temporals.format(mov.fecha, 'dd/MM/yyyy HH:mm')}"></td>

                            <!-- ENTRADAS -->
                            <td
                                th:text="${mov.tipoMovimientoId.id == 1 ? 'S/ ' + #numbers.formatDecimal(mov.costoUnitario, 2, 'COMMA', 2, 'POINT') : '-'}">
                            </td>
                            <td
                                th:text="${mov.tipoMovimientoId.id == 1 ? #numbers.formatDecimal(mov.cantidad, 1, 'POINT', 2, 'POINT') : '-'}">
                            </td>

                            <!-- SALIDAS y MERMA -->
                            <td
                                th:text="${mov.tipoMovimientoId.id == 2 or mov.tipoMovimientoId.id == 4 ? 'S/ ' + #numbers.formatDecimal(mov.costoUnitario, 2, 'COMMA', 2, 'POINT') : '-'}">
                            </td>
                            <td
                                th:text="${mov.tipoMovimientoId.id == 2 or mov.tipoMovimientoId.id == 4 ? #numbers.formatDecimal(mov.cantidad, 1, 'POINT', 2, 'POINT') : '-'}">
                            </td>

                            <!-- SALDO -->
                            <td th:text="${#numbers.formatDecimal(mov.saldoCantidad, 1, 'POINT', 2, 'POINT')}"></td>
                            <td th:text="'S/ ' + ${#numbers.formatDecimal(mov.saldoValor, 2, 'COMMA', 2, 'POINT')}">
                            </td>
                        </tr>

                        <!-- Mensaje si no hay datos -->
                        <tr th:if="${#lists.isEmpty(movimientos)}" class="text-center">
                            <td colspan="9" class="text-muted py-3">No hay movimientos registrados</td>
                        </tr>
                    </tbody>


                </table>
            </div>
        </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    <!--Menu Deslizable-->
    <div th:replace="~{fragmentsAdmi :: menuLateral}"></div>
    <div th:replace="~{mensajeModal :: modal-mensaje}"></div>


    <div class="modal fade" id="passwordChangeModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-4 shadow-xl border-0">

                <div class="modal-header rounded-top-4 bg-green-dark text-white p-4">
                    <h5 class="modal-title fw-bold fs-5">
                        <i class="bi bi-key me-3"></i>
                        Actualizar Contraseña
                    </h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Cerrar"></button>
                </div>

                <div class="modal-body p-4">
                    <form th:action="@{/user/cambiarPassword}" method="post">

                        <div class="mb-3">
                            <label for="contrasenaActual" class="form-label text-muted fw-semibold">Contraseña
                                Actual:</label>
                            <div class="input-group">
                                <input type="password" id="contrasenaActual" name="contrasenaActual"
                                    class="form-control" required placeholder="Ingresa tu contraseña actual">
                                <button type="button" class="btn btn-outline-secondary"
                                    onclick="togglePassword('contrasenaActual', this)">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="nuevaContrasena" class="form-label text-muted fw-semibold">Nueva
                                Contraseña:</label>
                            <div class="input-group">
                                <input type="password" id="nuevaContrasena" name="nuevaContrasena" class="form-control"
                                    required minlength="8" placeholder="Mínimo 8 caracteres">
                                <button type="button" class="btn btn-outline-secondary"
                                    onclick="togglePassword('nuevaContrasena', this)">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </div>
                        </div>

                        <div class="mb-4">
                            <label for="confirmarContrasena" class="form-label text-muted fw-semibold">Confirmar Nueva
                                Contraseña:</label>
                            <div class="input-group">
                                <input type="password" id="confirmarContrasena" name="confirmarContrasena"
                                    class="form-control" required minlength="8"
                                    placeholder="Repite la nueva contraseña">
                                <button type="button" class="btn btn-outline-secondary"
                                    onclick="togglePassword('confirmarContrasena', this)">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </div>
                        </div>


                        <button type="submit" class="btn btn-green-dark w-100 fw-bold mt-3 py-2">
                            <i class="bi bi-shield-lock me-2"></i>
                            Cambiar Contraseña
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Script para togglear el ojo -->
    <script>
        function togglePassword(inputId, icon) {
            const input = document.getElementById(inputId);
            if (input.type === "password") {
                input.type = "text";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                input.type = "password";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        }
    </script>

</body>

</html>